.about-section {
    color: #111256;
    font-size: .75rem;
    hr{
        border: none;
        width: 65px;
        height: 5px;
        background: linear-gradient(#31DDA7, #29BCD6);
        box-shadow: 0 3px 6px #5ABACD;
    }
    .btn {
        @extend .rounded-btn;
    }
}
