footer {
    position: relative;
    height: 100%;
    color: #fff;
    background-image: url("../images/Rectangle\ 15.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.625rem;
    padding-bottom: 3rem;
    @media (max-width: 991px) {
        padding-bottom: 6rem !important;
    }
    a {
        color: #fff;
        &:hover {
            color: #31dda7;
        }
    }

    ul {
        padding: 3rem 0;
        list-style-type: none;
        @media (max-width: 991px) {
            padding: 0;
        }
        li {
            margin: 1.5rem 0;
            a {
                font-size: 0.6rem !important;
            }
            @media (min-width: 767px) and (max-width: 991px) {
                padding: 0;
                li {
                    margin: 0.5rem 0 !important;
                    a {
                        font-size: 0.6rem !important;
                    }
                }
            }
            &:first-of-type {
                padding: 0.5rem 0;
                border-bottom: 2px solid #31dda7;
                font-size: 0.75rem;
            }
            .navbar-brand {
                font-size: 0.75rem !important;
                @media (max-width: 575px) {
                    img {
                        position: absolute;
                        top: 0;
                        left: 30%;
                    }
                }
            }
        }
        &:last-of-type {
            span {
                margin: 0 1rem;
                text-align: right;
            }
            p {
                @media (max-width: 575px) {
                    margin: 0;
                    .fa {
                        margin: 0.1rem;
                    }
                }
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 49, 141, 0.7);
        z-index: 5;
    }
    a,
    p,
    span,
    i,
    b,
    li {
        position: relative;
        z-index: 10;
    }
    .copyright {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 70px;
        background: rgba(0, 0, 0, 0.16);
        border: 1px solid #707070;
        z-index: 15;

        .social {
            @media (max-width: 767px) {
                i {
                    margin: 0 0.1rem;
                    font-size: 1rem;
                }
            }
            i {
                margin: 0 0.5rem;
                vertical-align: middle;
            }
        }
    }
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .go-top {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        z-index: 55;
        .fa-chevron-up {
            padding: 1rem;
            background: linear-gradient(#31dda7, #29bcd6);
            border-radius: 50%;
            box-shadow: 1.5px 2.5px 7px #5abacd;
            cursor: pointer;
            @media (max-width: 767px) {
                padding: 0.4rem;
                font-size: 1rem;
            }
        }
    }
}
