body{
    font-family: Cairo;
}

a{
    text-decoration: none !important;
}
.rounded-btn {
    background: linear-gradient(#2FD3B5, #29BCD6);
    padding: .4rem 4rem;
    border-radius: 2rem;
    color: #fff;
}