// intro img section
.intro-img {
    height: 900px;
    background-image: url("../images/intro-bg.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
// end of intro img section

// intro text
.intro-text {
    * {
        color: #fff;
    }
    h1 {
        span {
            color: #34e0aa;
        }
    }
    .play-icon {
        background: rgba(255, 255, 255, 0.05);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        div {
            background: rgba(255, 255, 255, 0.1);
            width: 85px;
            height: 85px;
            border-radius: 50%;
            span {
                align-items: center;
                i {
                    padding: 20px;
                    background: linear-gradient(#31DDA7, #29BCD6);;
                    box-shadow: 0 5px 10px 0px #fff;
                    border-radius: 50%;
                }
            }
        }
    }
    .about-btn {
        @extend .rounded-btn;
        background: transparent;
        padding: 0.5rem 3rem;
        border: 2px solid #44baa2;
        &:hover {
            background: #44baa2;
            color: #fff;
            transition: all 0.3s ease-in-out;
        }
    }
    .whatsapp-btn {
        margin-top: -20px;
        margin-right: 20px;
        background: rgba(255, 255, 255, 0.05);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        div {
            background: rgba(255, 255, 255, 0.1);
            width: 85px;
            height: 85px;
            border-radius: 50%;
            span {
                align-items: center;
                i {
                    padding: 10px;
                    background: #17cb48;
                    box-shadow: 0 5px 10px 0px #3ff770;
                    border-radius: 50%;
                }
            }
        }
    }
}
