.live {
    h1 {
        color: #111256;
    }
    p {
        color: #7e808b;
    }
    hr {
        width: 65px;
        height: 5px;
        margin: 0 auto 3rem;
        background: linear-gradient(#31dda7, #29bcd6);
        border: none;
        box-shadow: 0 3px 6px #5abacd;
    }
    .video-wrapper {
        width: 100%;
        height: 610px;
        background: #020a2b;
        cursor: pointer;
        @media (max-width: 575px) {
            height: 300px;
        }
        .play-icon {
            width: 100px;
            height: 100px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            div {
                width: 85px;
                height: 85px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                span {
                    align-items: center;
                    i {
                        padding: 20px;
                        background: linear-gradient(#31dda7, #29bcd6);
                        border-radius: 50%;
                        box-shadow: 0 5px 10px 0px #fff;
                    }
                }
            }
        }
    }
    .video-wrapper.slide-out {
        position: absolute;
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    .video-wrapper.slide-in {
        position: relative;
        opacity: 1;
        transform: scale3d(1, 1, 1);
        transition: all .5s ease-in-out;
        transform-origin: center;
    }
    button {
        @extend .rounded-btn;
    }
    .count-down {
        display: flex;
        text-align: center;
        justify-content: center;
        .count-box {
            margin: 1rem;
            padding: 1rem 2rem;
            background-color: #fff;
            font-weight: bold;
            box-shadow: 0 3px 6px rgba(15, 27, 77, 0.21);
            p {
                margin: 0;
            }

            p:first-of-type {
                color: #44baa2;
                font-size: 2.5rem;
            }
            p:last-of-type {
                color {
                    color: #7e808b !important;
                    font-size: 0.75rem !important;
                }
            }
        }
    }
}
