// toggler-header
.toggler-header {
    position: absolute;
    top: 2rem;
    right: 0;
    button {
        outline: 0;
    }
}

// main navbar
.main-navbar {
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 1024;
    @media (max-width: 991px) {
        top: 0;
        width: 100%;
        padding: 2rem 0 !important;
        background: linear-gradient(#31dda7, #29bcd6);
        transform: translateX(100%);
        overflow: hidden;
        z-index: 55;
        transition: all 0.3s ease-in-out;
        @media (min-width: 768px) and (max-width: 991px) {
            width: 50%;
        }
        &.main-navbar.slide-in {
            right: 0;
            transform: translateX(0);
        }

        &.main-navbar.slide-out {
            transform: translateX(100%);
        }
    }
    a {
        font-size: 0.75rem;
    }
    .navbar-brand {
        color: #fff;
        font-size: 1rem;

        @media (max-width: 575px) {
            color: #fff;
            font-size: 0.5rem;
        }
        small {
            color: #fff;
            b {
                color: #34e0aa !important;
                font-size: 0.9rem;
                @media (max-width: 991px) {
                    color: #fff !important;
                }
            }
        }
    }
    ul.navbar-nav {
        position: relative;
        & > li {
            a {
                color: #fff;
            }
        }

        .nav-item {
            position: static;
            @media (max-width: 991px) {
                padding: 0;
            }
            .nav-link {
                padding: 1rem 0.5rem;
                @media (max-width: 991px) {
                    &:hover {
                        color: #31dda7;
                        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                        transform: translateX(-10px);
                        transition: all 0.2s ease-in-out;
                    }
                }
                @media (max-width: 575px) {
                    padding: 0.5rem;
                }
            }

            .dropdown-menu {
                right: 0;
                left: 0;
                margin: 0;
                border: none;
                border-radius: 0;
                @media (max-width: 991px) {
                    padding: 0 !important;
                    background: transparent;
                    .dropdown-item {
                        color: #fff !important;
                        text-align: right;
                    }
                }
                img {
                    padding: 1rem 0;
                }
                a {
                    color: #111256 !important;
                    display: flex;
                    flex-direction: column;
                }
            }
            hr {
                z-index: 55;
            }
        }
        .nav-item.active {
            @media (min-width: 992px) {
                border-bottom: 5px solid #31dda7;
            }
        }
        .fa-search,
        .btn-signup {
            @media (max-width: 991px) {
                text-align: right;
            }
        }
        .btn-signup {
            background: linear-gradient(0.25turn, #31dda7, #29bcd6);
            border: 1px solid #31dda7;
        }
    }
}
.main-navbar.nav-white {
    background-color: #fff;
    color: #111256 !important;
    a.nav-link,
    .fa-search {
        color: #111256 !important;
    }
    .navbar-brand {
        small {
            color: #707070 !important;
        }
    }
}
